{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "ignorePatterns": [],
  "rules": {
    "jsx-a11y/tabindex-no-positive": "off",
    "jsx-a11y/label-has-associated-control": [
      "off",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "off",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "linebreak-style": ["error", "unix"],
    "no-dupe-keys": ["error"],
    "no-duplicate-case": ["error"],
    "no-extra-semi": ["warn"],
    "no-labels": ["error"],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-redeclare": ["warn"],
    "no-return-assign": ["error", "always"],
    "no-sequences": ["error"],
    "no-trailing-spaces": ["warn"],
    "no-undef": ["error"],
    "no-unexpected-multiline": ["warn"],
    "no-unreachable": ["warn"],
    "no-unused-vars": ["warn"],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "one-var": ["warn", "never"],
    "prefer-arrow-callback": [
      "warn",
      {
        "allowNamedFunctions": true
      }
    ],
    "quotes": [
      "warn",
      "double",
      {
        "avoidEscape": false,
        "allowTemplateLiterals": true
      }
    ],
    "react/prop-types": [2],
    "semi": ["error", "always", { "omitLastInOneLineBlock": true }],
    "semi-spacing": [
      "warn",
      {
        "before": false,
        "after": true
      }
    ],
    "semi-style": ["warn", "last"]
  }
}
